{{- range .hyprland.monitors }}
hl.monitor({
	output = "{{ .output }}",
	mode = "highresxhighrr",
	scale = 1,
	{{- if .position }}
	position = "{{ .position }}",
	{{- end }}
})

{{- if .dpms }}
hl.bind("SUPER + {{ .dpms }}", hl.dsp.dpms({ monitor = "{{ .output }}" }))
{{- end }}

{{- end }}
