hl.monitor({
	output = "eDP-1",
	mode = "1920x1080@60.05Hz",
	scale = 1,
})
hl.monitor({
	output = "HDMI-A-1",
	mode = "highresxhighrr",
	scale = 1,
	position = "auto-right",
})

hl.bind("SUPER + ampersand", hl.dsp.dpms({monitor = "eDP-1"}))

